<div class="container">
  <div class="background-image">
    <img
      src="{{imagePath}}" alt="picture">
  </div>


  <div class="shadow-left"></div>
  <div class="shadow-right"></div>
  <div class="button-container">
    <div class="button">
      <img class="image-1" ngSrc="assets/svg/facebook.svg" height="16" width="16" alt="cart">
      <img class="image-2" ngSrc="assets/svg/facebook-white.svg" height="16" width="16" alt="cart">
    </div>
    <div class="button">
      <img class="image-1" ngSrc="assets/svg/twitter.svg" height="16" width="16" alt="heart">
      <img class="image-2" ngSrc="assets/svg/twitter-white.svg" height="16" width="16" alt="heart">
    </div>
    <div class="button">
      <img class="image-1" ngSrc="assets/svg/pinterest.svg" height="16" width="16" alt="magnify">
      <img class="image-2" ngSrc="assets/svg/pinterest-white.svg" height="16" width="16" alt="magnify">
    </div>
    <div class="button">
      <img class="image-1" ngSrc="assets/svg/youtube.svg" height="16" width="16" alt="magnify">
      <img class="image-2" ngSrc="assets/svg/youtube-white.svg" height="16" width="16" alt="magnify">
    </div>

  </div>

</div>
<div class="identity">
  <p>{{ name }}</p>
  <span>{{ role }}</span>

</div>
