:host {
  width: 100%;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .btn {
      width: 80%;
      height: 50px;
      color: white;
      border-radius: 45px;
      background-color: #df0074;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      transition: background-color 0.6s;
      font-family: "Kumbh Sans", sans-serif;
      cursor: pointer;

      &:hover {
        background-color: #46a9df;
        transition: background-color 0.6s;

      }
    }


    .intro {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-family: "Kumbh Sans", sans-serif;
      width: 100%;

      .background-image {
        height: 100%;
        width: 100%;
        background-image: url("../../.././assets/shirt.jpg");
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }


      .content {
        padding: 4rem 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        background-blend-mode: multiply;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }
    }

    .main-section {
      width: 80%;
      padding: 5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;

      .left-section {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .title {
          font-size: 28px;
          font-weight: 500;
        }

        .item {
          display: flex;
          flex-direction: row;
          border: 1px solid rgb(186, 180, 189, 0.6);


          .description {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: space-around;
            align-items: start;
            padding-left: 1rem;

            .name {
              font-weight: bold;
              font-size: 22px;
            }

            .item-description {
              color: gray;
              font-size: 18px;
            }

            .price {
              font-weight: bold;
              font-size: 18px;
            }

            .total {
              font-weight: bold;
              font-size: 20px;
              color: gray;
            }
          }

          .close {
            display: flex;
            justify-content: flex-end;
            align-items: start;
            padding: 1rem;

            img {
              rotate: 45deg;
              padding: 0.5rem;
              border-radius: 9999px;
              transition: background-color 0.6s;
              cursor: pointer;

              &:hover {
                background-color: rgb(186, 180, 189, 0.6);
                transition: background-color 0.6s;
              }
            }
          }


          .dec-inc-btn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background: #df0074;
            width: 120px;
            height: 30px;
            border-radius: 45px;
            padding: 0 .25rem;
            border: 1px solid rgb(186, 180, 189, 0.9);;

            .number {
              align-items: center;
              display: flex;
              justify-content: center;
              background: white;
              height: 30px;
              width: 60px;
              text-align: center;
            }


            img {
              cursor: pointer;
              padding: 0 .25rem;
            }
          }


          .image {
            background-color: bisque;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 180px;
              height: 200px;
            }
          }


        }

        .button-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 40%;


        }


      }

      .right-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .mode {
          display: flex;
          flex-direction: column;
          gap: 5px;
          justify-content: center;
          .item{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
          }
        }

        .title {
          font-weight: 500;
          font-size: 28px;
        }


        .text {
          color: gray;
          font-size: 22px;
        }

        .total {
          font-weight: bold;
          font-size: 20px;
          color: gray;
        }


      }

    }

  }
}
