:host {
  width: 100% !important;

  .tool-bar-container {
    display: flex;
    justify-content: center;
    width: 100% !important;
    height: 75px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    z-index: 99999 !important;

    .nav-bar {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 0 2rem;
      justify-content: center;


      .nav-section {
        width: 35vw;
        display: flex;
        flex-direction: row;
        padding-left: 3vw;
        justify-content: flex-start;
        gap: 40px;
        align-items: center;

        .dropDown {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: baseline;
          gap: 5px;
          cursor: pointer;

          .drop-down-item {
            height: 77px;
            align-items: center;
            display: flex;
            gap: 5px;


            .drop-down-list {
              position: fixed;
              display: none;
              top: 75px;
              min-width: 120px;
              background: white;
              box-shadow: 0 -4px 4px rgba(143, 143, 143, 0.6), 4px 4px 4px rgba(143, 143, 143, 0.6);
              transition: top 0.3s;

              .link-item {
                cursor: pointer;
                padding: 10px 20px;
                border-bottom: 1px solid rgb(0, 0, 0, 0.2);

                &:hover {
                  color: #df0074;
                  transition: transform 1s ease-out;
                }
              }
            }

            .product-list {
              padding: 20px 10px;
              position: fixed;
              display: none;
              top: 75px;
              background-color: white;
              box-shadow: 0 -4px 4px rgba(143, 143, 143, 0.6), 4px 4px 4px rgba(143, 143, 143, 0.6);

              .category {
                display: flex;
                gap: 10px;
                flex-direction: column;


                .category-name {
                  font-size: 17px;
                  font-family: "Kumbh Sans", sans-serif;
                  font-weight: bold;
                  padding: 10px;
                  border-bottom: 2px solid rgba(201, 198, 198, 0.6);

                  a {
                    color: inherit !important;
                    text-decoration: none !important;
                  }

                  &:hover {
                    color: #df0074;
                    transition: transform 1s ease-out;
                  }
                }

                .category-items {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  font-size: 15px;
                  font-family: "Kumbh Sans", sans-serif;
                  font-weight: bold;

                  .item {
                    padding: 5px;

                    a {
                      color: inherit;
                      text-decoration: none !important;
                    }

                    &:hover {
                      color: #df0074;
                      transition: transform 1s ease-out;
                    }
                  }
                }
              }

              .image-clip {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                  width: 160px;
                  height: 220px
                }

              }
            }


            .cursor {
              display: flex;
              align-items: baseline;
            }

            .cursor-selected {
              display: none;
            }

          }

          &:hover {
            .drop-down-item {

              .drop-down-list {
                display: block;
              }

              .product-list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 2rem;

              }

              .hovered {
                color: #df0074;
                transition: color 0.3s;
              }

              .cursor {
                display: none;

              }

              .cursor-selected {
                display: flex;
                align-items: baseline;
              }
            }
          }
        }
      }


      .logo-section {
        width: 24vw;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
          width: 200px;
          height: 40px;
        }

      }

      .actions-section {
        width: 35vw;
        display: flex;
        padding-right:  3vw;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;


        .actions {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: baseline;
          gap: 5px;
          cursor: pointer;

          .cursor {
            display: flex;
            align-items: baseline;
          }

          .cursor-selected {
            display: none;
          }


          &:hover {
            color: #df0074;
            transition: color 0.3s;

            .cursor {
              display: none;

            }

            .cursor-selected {
              display: flex;
              align-items: baseline;
            }

          }
        }
      }
    }

    .cart-overlay {
      position: fixed;
      top: 0;
      right: -400px;
      width: 400px;
      height: 100%;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: right 0.3s ease-out;
      z-index: 999;

      &.show-cart {
        right: 0;
      }

      .cart-content-container {
        max-height: 100%;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        .cart-content {
          padding: 20px 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;

          .head {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid black;


            .close {
              width: 30px;
              height: 30px;
              border-radius: 9999px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: background-color 0.6s;


              &:hover {
                transition: background-color 0.6s;
                background: rgb(186, 180, 189, 0.6);
              }

              img {
                rotate: 45deg;
              }
            }
          }

          .cart-item {
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 3rem;
            border-bottom: 1px solid rgb(186, 180, 189, 0.6);

            .image {
              background-color: bisque;
              height: 55px;
              width: 55px;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 40px;
                height: 50px;
              }
            }

            .description {
              display: flex;
              flex-direction: column;
              gap: 5px;

              .name {
                font-weight: bold;
                font-size: 18px;
              }

              .item-description {
                color: gray;
              }
            }


            .dec-inc-btn {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              background: #df0074;
              width: 120px;
              height: 30px;
              border-radius: 45px;
              padding: 0 .25rem;
              border: 1px solid rgb(186, 180, 189, 0.9);
              margin-bottom: 0.5rem;

              .number {
                align-items: center;
                display: flex;
                justify-content: center;
                background: white;
                height: 30px;
                width: 60px;
                text-align: center;
              }


              img {
                cursor: pointer;
                padding: 0 .25rem;
              }
            }
          }

          .devider {
            height: 1px;
            width: 80%;
            background-color: rgb(186, 180, 189, 0.4);
          }

          .total {
            display: flex;
            width: 80%;
            flex-direction: row;
            justify-content: space-between;
            font-weight: 500;
            font-size: 22px;
            color: gray;
          }

          .button {
            width: 80%;
            height: 50px;
            color: white;
            border-radius: 45px;
            background-color: #df0074;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            transition: background-color 0.6s;
            font-family: "Kumbh Sans", sans-serif;
            cursor: pointer;

            &:hover {
              background-color: #46a9df;
              transition: background-color 0.6s;

            }
          }
        }
      }

      .cart-content-container::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
      }
    }

    .cart-overlay-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 998;
      opacity: 0;
      transition: opacity 0.3s ease-out;
      pointer-events: none;

      &.show-bg {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

}
