<div class="tool-bar-container">
  <div class="cart-overlay-bg" (click)="showCart = false" [ngClass]="{ 'show-bg': showCart }"></div>
  <div class="nav-bar">
    <div class="nav-section">
      <div class="dropDown" (click)="routing('')">
        <div class="drop-down-item">
          <span class="small-title hovered">Accueil</span>
        </div>
      </div>
      <div class="dropDown">
        <div class="drop-down-item">
          <span class="small-title hovered" (click)="saveCategoryToLocalStorage('shop')">Boutique </span>
          <img class="cursor" ngSrc="assets/svg/chevron-down.svg" height="12"
               (click)="saveCategoryToLocalStorage('shop')" width="12" alt="chevron">
          <img class="cursor-selected " (click)="saveCategoryToLocalStorage('shop')"
               ngSrc="assets/svg/chevron-down-orange.svg" alt="chevron" height="12" width="12">
          <div class="product-list">
            @for (category of categories; track category) {
              <div class="category">
                <div class="category-name">
                  <a (click)="saveCategoryToLocalStorage(category.category)">
                    {{ category.category }}
                  </a>
                </div>
                <div class="category-items">
                  @for (item of category.product; track item) {
                    <div class="item">
                      <a >{{ item }}</a>
                    </div>
                  }
                </div>
              </div>
            }
            <div class="image-clip">
              <img src="assets/animation%20.gif" alt="produit">
            </div>
          </div>
        </div>
      </div>
      <div class="dropDown">
        <div class="drop-down-item">
          <span class="small-title hovered">Pages </span> <img class="cursor" ngSrc="assets/svg/chevron-down.svg"
                                                               alt="chevron" height="12" width="12">
          <img class="cursor-selected" ngSrc="assets/svg/chevron-down-orange.svg" height="12" alt="chevron" width="12">
          <div class="drop-down-list">
            <div class="link-item" (click)="routing('about')">
              À propos
            </div>
            <div class="link-item" (click)="routing('ourServices')">
              Services
            </div>
            <div class="link-item" (click)="routing('faq')">
              FAQ
            </div>
          </div>
        </div>
      </div>
      <div class="dropDown" (click)="routing('contact')">
        <div class="drop-down-item">
          <span class="small-title hovered">Contact </span>
        </div>
      </div>
    </div>
    <div class="logo-section">
      <img class="logo" src="assets/logo.png" alt="logo">
    </div>
    <div class="actions-section">
      @if (!userName()) {
        <div class="actions" (click)="routing('login')">
          <img class="cursor" ngSrc="assets/svg/login.svg" alt="chevron" height="16" width="16">
          <img class="cursor-selected" ngSrc="assets/svg/login-orange.svg" alt="chevron" height="16" width="16">
          <span class="small-title">Compte</span>
        </div>
      }
      <!--      <div class="actions">-->
      <!--        <img class="cursor" ngSrc="assets/svg/magnify.svg" alt="chevron" height="16" width="16">-->
      <!--        <img class="cursor-selected" ngSrc="assets/svg/magnify-orange.svg" alt="chevron" height="16"-->
      <!--             width="16">-->
      <!--        <span class="small-title">Search</span>-->
      <!--      </div>-->
      <div class="actions" (click)="showCart = true; loadCartItems()">
        <img class="cursor" ngSrc="assets/svg/bag.svg" alt="chevron" height="16" width="16">
        <img class="cursor-selected" ngSrc="assets/svg/bag-orange.svg" alt="chevron" height="16" width="16">
        <span class="small-title">Panier</span>
      </div>
      @if (userName()) {
        <div class="actions" (click)="routing('client/profile')">
          <span class="small-title">{{ userName() }}</span>
        </div>
        <div class="actions" (click)="logOut()">
          <img class="cursor" ngSrc="assets/svg/logout.svg" alt="chevron" height="16" width="16">
          <img class="cursor-selected" ngSrc="assets/svg/logout-pink.svg" alt="chevron" height="16" width="16">
          <span class="small-title">Déconnexion</span>
        </div>
      }
    </div>
  </div>


  <div class="cart-overlay" [ngClass]="{ 'show-cart': showCart }">
    <div class="cart-content-container">

      <div class="cart-content">
        <div class="head">
          <h2>Votre Panier</h2>
          <div class="close" (click)="showCart = false">
            <img alt="close" ngSrc="assets/svg/plus.svg" height="18" width="18">
          </div>
        </div>
        @if (!cart) {
          <span>Votre panier est actuellement vide.</span>
        } @else {
          @for (item of cart; track item) {
            <div class="cart-item">
              <div class="image"><img alt="produit" src="{{ item.product.imagePath }}"></div>
              <div class="description">
                <div class="name">{{ item.product.name }}</div>
                <div class="item-description">{{ item.product.description }}</div>
                <div>${{ item.product.price }}</div>
                <div class="dec-inc-btn">
                  <img alt="minus" ngSrc="assets/svg/minus-white.svg" height="14" width="14"
                       (click)="addToCartFromToolBar(item.product._id,'dec')">
                  <div class="number">
                    {{ item.amount }}
                  </div>
                  <img alt="plus" ngSrc="assets/svg/plus-white.svg" height="14" width="14"
                       (click)="addToCartFromToolBar(item.product._id,'inc')">
                </div>
              </div>
            </div>
          }
        }


        @if (!cart || cartItemsTotalPrice===0) {
          <div class="button" (click)="routing('shop')">
            <p>Continuer vos achats</p>
          </div>
        } @else {

          <div class="devider"></div>
          <div class="total">
            <div>Total</div>
            <div>${{ cartItemsTotalPrice }}</div>
          </div>
          <div class="devider"></div>

          <div class="button" (click)="showCart = false; routing('cart')">
            <p>Voir le Panier</p>
          </div>

        }
      </div>
    </div>
  </div>
</div>


