<div class="container">
  <div>
    <app-image-card (addToWishes)="addToWishes.emit()" (addTocart)="addTocart.emit()" (check)="check.emit()"
                    [imageDimentions]="imageDimentions()"
                    [imagePath]=product().imagePath>
    </app-image-card>
  </div>


  <div class="product-details">
    <span class="product-name">{{ product().name }}</span>
    <div style="display: flex; flex-direction: row; justify-content: space-between; gap: 20px">

      <span class="price" [ngClass]="{ strike: hasOffer() }">${{ product().price }}</span>
      @if (hasOffer()) {

        <span class="price">${{ newPrice(product().price, product().offer) }}</span>
      }
    </div>
<!--    <div class="circle">-->
<!--      <img class="small-image" src="{{product().imagePath}}" alt="picture">-->

<!--    </div>-->

  </div>

</div>
