<div class="container">
  <div class="intro">
    <div class="background-image"></div>
    <div class="background"></div>
    <div class="content">
      <h1>Boutique</h1>
    </div>
  </div>

  <div class="shop-item-container">

    <div class="filter-container">
      <div class="filter">
        <span class="title">Prix</span>
        <hr>
        <p class="filte-text">Le prix le plus élevé est 750,00 €</p>
        <div class="filte-text">De<br> <input type="number" placeholder="prix min" [(ngModel)]="min"></div>
        <div class="filte-text">À<br><input type="number" placeholder="prix max" [(ngModel)]="max"></div>
      </div>

      <div class="filter">
        <span class="title">Categorie</span>
        <hr>
        <div class="filte-text"><input type="checkbox" name="Black" [(ngModel)]="ig"> Impression Grandformat</div>
        <div class="filte-text"><input type="checkbox" name="Blue" [(ngModel)]="cg"> Conception Graphique</div>
        <div class="filte-text"><input type="checkbox" name="Grey" [(ngModel)]="md"> Marketing Digital</div>
        <div class="filte-text"><input type="checkbox" name="Pink" [(ngModel)]="im"> Imperssion numerique</div>

      </div>

    </div>

    <div class="shop-item">
      <div class="items">
        <div class="display">
          <div class="left-side">
            <input type="text" placeholder="recherche" [(ngModel)]="searchTerm">
          </div>
          <div class="right-side">
            Trier par
            <select [(ngModel)]="selectedSortOption" (ngModelChange)="sortProducts()">
              <option value="default">Par defaut</option>
              <option value="a-z">Alphabétique A-Z</option>
              <option value="z-a">Alphabétique Z-A</option>
              <option value="price-asc">Prix croissant</option>
              <option value="price-desc">Prix décroissant</option>
            </select>
          </div>
        </div>

        <div class="products">
          @for (item of product; track item) {
            @if (category === 'shop' || comparing(category, item.category)) {
              @if ((parseFloat(item.price) * (1 - parseFloat(item.offer) / 100) >= min || !min) && (parseFloat(item.price) * (1 - parseFloat(item.offer) / 100) <= max || !max)) {
                @if (shouldShowItem(item)) {
                  @if (item.name.toLowerCase().includes(searchTerm.toLowerCase())) {
                    <app-product-card [imageDimentions]="[200,200]" [product]="item"
                                      (check)="saveSelectedItemToLocalStorage(item)"
                                      (addTocart)="addToCart(item._id,'inc')"
                                      (addToWishes)="toggleFavourite(item._id)">
                    </app-product-card>
                  }
                }
              }
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>
