<div class="about-us-section">
  <div class="about-us-container">
    <h4 class="green">NOUS SOMMES DOBKIN</h4>
    <p class="extra-large-title pl-24 pr-24">Nous Imprimons Des Designs Modernes<br>et Antiques Avec Une Touche Moderne
    </p>

    <span class="grey f-18 fw-500">
      Nous combinons les technologies d'impression modernes et anciennes pour offrir des designs uniques et élégants. Que vous recherchiez des impressions contemporaines ou des touches classiques, nous avons ce qu'il vous faut. Profitez de notre expertise et de notre attention aux détails pour des résultats exceptionnels.
    </span>
    <div class="button" (click)="navigate()">
      À PROPOS DE NOUS
    </div>
  </div>
</div>
