<div class="container">
  <div class="intro">
    <div class="background-image"></div>
    <div class="background"></div>
    <div class="content">
      <h1>SERVICE</h1>
    </div>
  </div>
  <div class="divider"></div>

  <div class="section-3">
    <div class="background-image"></div>
    <div class="content">
      <div class="description">
        <h1>NOS SERVICES</h1>
        <span style="width: 600px; overflow-wrap: normal">
          Notre entreprise propose une gamme diversifiée de services d'impression conçus pour répondre à vos besoins uniques. Des techniques traditionnelles aux dernières technologies numériques, nous garantissons des résultats de haute qualité pour chaque projet. Découvrez nos services ci-dessous et trouvez la solution idéale pour vos besoins d'impression.<br>
        </span>
        <div class="services">
          <div class="service">
            <h2> Impression de Surface</h2>
            <span>Nous offrons des solutions d'impression de surface avancées qui produisent des images nettes et vibrantes sur une variété de matériaux, garantissant que vos produits se démarquent.</span>
          </div>
          <div class="service">
            <h2> Impression en Héliogravure</h2>
            <span>Nos services d'impression en héliogravure offrent des impressions de haute qualité et détaillées, idéales pour les emballages, les étiquettes et les applications décoratives.</span>
          </div>
          <div class="service">
            <h2> Impression Numérique</h2>
            <span>Utilisant les dernières technologies d'impression numérique, nous offrons des solutions rapides, flexibles et rentables pour des tirages courts et longs.</span>
          </div>
          <div class="service">
            <h2> Sérigraphie</h2>
            <span>Parfaite pour les textiles et les articles promotionnels, notre service de sérigraphie fournit des impressions durables et vibrantes.</span>
          </div>
          <div class="service">
            <h2> Lithographie Offset</h2>
            <span>Notre impression en lithographie offset garantit des résultats de haute qualité et cohérents pour les projets de grande envergure, tels que les magazines, brochures et catalogues.</span>
          </div>
          <div class="service">
            <h2> Impression Rotative</h2>
            <span>Idéale pour les motifs continus, notre impression rotative est parfaite pour les textiles et les papiers peints, offrant une excellente qualité et précision.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>

  <div class="section-1">
    @for (product of product; track product) {
      <div class="item">
        <app-hovered-picture-widget [text]="product.text"
                                    [imagePath]="product.imagePath"></app-hovered-picture-widget>
      </div>
    }
  </div>

  <div class="section-2">
    <div class="container">
      <div class="extra-large-title"> GAMME DE PRODUITS LA PLUS TENDANCE</div>
      <div class="text-section">
        <div class="item">
          <img src="assets/svg/shopping-bag-white.svg" height="50" width="50" alt="bag">
          <div class="description">
            <div class="title"> NOUVELLES IMPRESSIONS DE MARQUES LES PLUS EN VOGUE</div>
            <p>Découvrez nos dernières impressions de marques qui allient design innovant et qualité supérieure. Parfaites pour faire sensation sur n'importe quel marché.</p>
          </div>
        </div>
        <div class="item">
          <img src="assets/svg/archive-white.svg" height="50" width="50" alt="bag">
          <div class="description">
            <div class="title"> MOINS CHER QUE LE MARCHÉ</div>
            <p>Nos prix compétitifs garantissent que vous obtenez le meilleur rapport qualité-prix sans compromettre la qualité. Découvrez nos solutions d'impression abordables dès aujourd'hui.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>
</div>
