<div class="container">

  <div class="content">
    <div class="section-2">
      <div class="item">
        <img alt="icon" ngSrc="assets/refund.png" height="60" width="60">
        <p>Remboursement Garanti</p>
        <span>Annulation de commande à tout moment</span>
      </div>
      <div  class="item">
        <img ngSrc="assets/svg/pig.svg"  alt="icon"height="60" width="60">
        <p>Grande Économie</p>
        <span>Économisez gros à chaque commande</span>
      </div>
      <div class="item">
        <img  alt="icon" ngSrc="assets/svg/headset.svg" height="60" width="60">
        <p>Support 24/7</p>
        <span>Support individuel 24/7</span>
      </div>
    </div>
  </div>
</div>
