<div class="container">

  <div class="content">
    <div class="section-1">
      <h4 class="green"> OUR RECENT WORK</h4>
      <h1 class="large-title">Let’s See Our Latest Project <br> Make Us Pride</h1>

      <div class="project-exemple">
        <div class="first-line">
          <a href="https://devofbrand.my.canva.site/presentation">
            <div class="image-1"></div>
          </a>
          <a href="https://devofbrand.my.canva.site/presentation">
            <div class="image-2"></div>
          </a>
          <a href="https://devofbrand.my.canva.site/presentation">
            <div class="image-3"></div>
          </a>
          <a href="https://devofbrand.my.canva.site/presentation">
            <div class="image-4"></div>
          </a>
        </div>

        <div class="second-line">
          <a href="https://devofbrand.my.canva.site/presentation">
            <div class="image-1"></div>
          </a>
          <a href="https://devofbrand.my.canva.site/presentation">
            <div class="image-2"></div>
          </a>

        </div>

      </div>

    </div>
  </div>
</div>
