<div class="service-section">
  <div class="background-image"></div>
  <div class="container">
    <div class="content">
      <h3>NOS SERVICES</h3>
      <div class="large-title b">Impression Moderne</div>

      <div class="card-container">
        <div class="card">
          <div class="card-icon bg-shade-green">
            <img ngSrc="assets/images/print-1.webp" height="70" width="70" alt="print">
          </div>
          <h2>Impression de Surface</h2>
          <p>Nous offrons des impressions de surface de haute qualité, idéales pour une variété de matériaux et de surfaces.</p>
        </div>
        <div class="card">
          <div class="card-icon bg-shade-red">
            <img ngSrc="assets/images/print-2.webp" height="70" width="70" alt="print">
          </div>
          <h2>Impression Flexographique</h2>
          <p>Notre service d'impression flexographique est parfait pour les emballages et autres applications commerciales.</p>
        </div>
        <div class="card">
          <div class="card-icon bg-shade-orange">
            <img ngSrc="assets/images/print-3.png" height="70" width="70" alt="print">
          </div>
          <h2>Impression en Sérigraphie</h2>
          <p>Nous proposons des impressions en sérigraphie, idéales pour les textiles, affiches et plus encore.</p>
        </div>
        <div class="card">
          <div class="card-icon bg-shade-blue">
            <img ngSrc="assets/images/print-4.webp" height="70" width="70" alt="print">
          </div>
          <h2>Impression en Héliogravure</h2>
          <p>Notre impression en héliogravure offre une qualité exceptionnelle pour les magazines, emballages et plus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
