<div class="why-us-section">
  <div class="container">


    <div class="right-section">
      <h4>Pourquoi Nous Choisir</h4>
      <span class="large-title b">Impression Verte Très Attrayante</span> <br>
      <span class="f-18">Nous utilisons des techniques d'impression écologiques pour garantir la qualité et la durabilité de nos produits. Notre équipe est dédiée à fournir un service exceptionnel à chaque étape du processus.</span>

      <div class="quality">
        <div class="icon-container">
          <div class="icon">
            <img ngSrc="assets/svg/thumbs-up-orange.svg" height="16" width="16" alt="thumbs">
          </div>
        </div>

        <div>
          <span class="medium-title b">Service Satisfaisant</span>
          <br>
          <p class="f-18">Nous nous engageons à offrir un service client exceptionnel. Notre équipe est toujours prête à répondre à vos besoins et à vous assurer une expérience sans souci.</p>
        </div>
      </div>
      <div class="quality">
        <div class="icon-container">
          <div class="icon">
            <img ngSrc="assets/svg/headset-orange.svg" height="16" width="16" alt="headset">
          </div>
        </div>

        <div>
          <span class="medium-title b">Consultation Gratuite</span> <br>
          <p class="f-18">Nous offrons des consultations gratuites pour vous aider à choisir les meilleures options d'impression pour vos besoins. Contactez-nous pour en savoir plus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
